.add-rent-house{
    padding: 30px;
    margin: 35px 25px;
    border-radius: 20px;
    background: #fff;
    position: relative;
    form {
        max-width: 75%;
        padding: 15px;
        .form-input {
            margin-bottom: 20px;
            label {
                font-weight: 600;
            }
            input, textarea {
                width: 100%;
                border: 1px solid #DDDDDD;
                border-radius: 5px;
                padding: 11px 21px;
            }
            textarea{
                resize: none;
                height: 140px;
            }
        }
    }
.file-field{
    position: relative;
    p {
        font-size: 19px;
        font-weight: 500;
        margin-bottom: 0;
    }
    label {
        position: absolute;
        top: 32px;
        background-color: #DEFFED;
        border: 1px solid #009444;
        padding: 10px 25px;
        border-radius: 5px;
        color: #009444;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        width: 100%;
        text-align: center;
    }
        path{
            fill: #009444;
        }
    
    } 
button {
    position: absolute;
    right: 4%;
    margin-top: 42px;
    padding: 10px 45px !important;
}
}