.headerStyle {
    height: 560px;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.5)), url(../../../image/images/image1.png);
        background-position: center;
        z-index: -1;
    }
}
h2 {
    text-align: center;
    color: white;
    padding-top: 250px;
    font-size: 40px;
}
