.login-btn-area{
    span {
        font-size: 12px;
        display: block;
    }
    .dashboard-btn {
        font-weight: 700;
        color: #275A53;
        padding: 4px 0;
        font-size: 18px;
        cursor: pointer;
    }
} 