

.apartment-card {


    .apartment-card-bg {
        height: 200px;
        background-size: cover !important;
        background-position: center !important;
    }
    .apartmet-card-content {
        padding: 30px 20px;
        background: #fff;

        h3 {
            font-size: 24px;
            font-weight: 900;
            color: #16322E;
        }

        .short-description {
            padding: 15px 0px 30px;

            p {
                display: inline-block;
                margin-right: 20px;

                img {
                    max-width: 19px;
                    margin-right: 6px;
                    color: #818181;
                }
            }
        }

        .pricebox {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .price {
                display: inline-block;
                color: #275A53;
                font-weight: 900;
                font-size: 38px;
                line-height: 1;
    
                margin-bottom: 0;
            }
    
            button {
                display: inline-block;
                border: none;
                border-radius: 0;
                padding: 11px 30px;
            }

        }
        
    }
    
}