section{
    background: #275A53;
    color: #fff;
    padding: 65px 0;

    .contact-info {
        position: relative;
        padding-left: 30px;
        margin-top: 12px;
        line-height:25px;

        span {
            position: absolute;
            left: 0;
            top: 3px;

            img {
                max-width: 25px;
            
            }
        }
    }


    ul.footer-menu a {
        margin: 6px 0;
        display: block;
        font-weight: 300;
    }
    h6.menu-title {
        font-size: 20px;
        padding: 0;
        font-weight: 600;
    }
    .footer-about-content {
        font-weight: 300;
        margin-top: 25px;
    }
    .socila-menu {
        display: flex;
        justify-content: space-around;
        margin-top: 25px;

         img {
            max-width: 25px;
        }
    }
}