.main-btn {
    display: inline-block;
    border: none;
    background: #275A53;
    color: #fff;
    padding: 11px 40px;
    font-size: 16px;
    border-radius: 5px;
    transition: all 0.1s linear 0s;
}